<!DOCTYPE html>
<html>
  <head>
    <title>MoreRon: Jungle Scout: Coding Challenge 2018-09-07</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
